name: Node.js Reference Test

on:
  schedule:
    - cron: '0 23 * * *'    
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "16"
      - name: Generate the test blog
        run: |
          npm i -g notablog
          notablog generate .
        env:
          CI: true
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          token: ${{ secrets.ACCESS_TOKEN }}
          repository-name: luoxin971/notion-blog
          branch: doc          
          folder: public
